<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <header>
        <h1>
            welcome to Read Page
        </h1>
    </header>

    <main>
        <button id="readBTN">Get Student</button>
    </main>

    <nav>
        <a href="/read">Read</a>
        <a href="/create">Create</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
        <a href="/home">Home</a>
    </nav>

    <aside>
        <div id="student_details">

        </div>
    </aside>

    <script src="read.js"></script>
</body>
</html>